h1{
    font-family: 'SEGA LOGO FONT';
    /* color: rgba(0, 0, 0, 0.5); */
    opacity: 0.5;
    
}
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
   
    }